/* Login.css */
.title{
  text-align: center;
  padding-top: 5px;
}
.login-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
  }
  
  .login-box {
    background: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  .login-box h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .login-box label {
    font-weight: 500;
    display: block;
    margin-bottom: 5px;
  }
  
  .login-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
  }
  
  .login-box input:focus {
    outline: none;
    border-color: #007bff;
  }
  
  .login-box .error-message {
    color: red;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
  }
  
  .login-box button {
    width: 100%;
    padding: 10px;
    background: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .login-box button:hover {
    background: #333;
  }
  
  .login-box p {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
  }
  
  .login-box a {
    color: #007bff;
    text-decoration: none;
  }
  
  .login-box a:hover {
    text-decoration: underline;
  }
  